<!-- Backlinks - Documents Referencing This One -->
<div class="backlinks-section">
  <h3 class="section-heading">Referenced By</h3>
  <p class="section-description">Other documents that reference this one</p>

  {% assign current_path = page.path %}
  {% assign backlinks = site.documents | where_exp: "doc", "doc.relationships" %}
  
  {% assign has_backlinks = false %}
  
  <ul class="backlinks-list">
    {% for doc in backlinks %}
      {% assign is_backlink = false %}
      
      {% if doc.relationships.prerequisite %}
        {% if doc.relationships.prerequisite contains current_path %}
          {% assign is_backlink = true %}
          {% assign link_type = "Prerequisite" %}
        {% endif %}
      {% endif %}
      
      {% if doc.relationships.related %}
        {% if doc.relationships.related contains current_path %}
          {% assign is_backlink = true %}
          {% assign link_type = "Related" %}
        {% endif %}
      {% endif %}
      
      {% if doc.relationships.extends %}
        {% if doc.relationships.extends contains current_path %}
          {% assign is_backlink = true %}
          {% assign link_type = "Extended Concept" %}
        {% endif %}
      {% endif %}
      
      {% if doc.relationships.references %}
        {% if doc.relationships.references contains current_path %}
          {% assign is_backlink = true %}
          {% assign link_type = "Reference" %}
        {% endif %}
      {% endif %}
      
      {% if doc.relationships.comparison %}
        {% if doc.relationships.comparison contains current_path %}
          {% assign is_backlink = true %}
          {% assign link_type = "Comparison" %}
        {% endif %}
      {% endif %}
      
      {% if is_backlink %}
        {% assign has_backlinks = true %}
        <li class="backlink-item">
          <div class="backlink-content">
            <a href="{{ doc.url | relative_url }}" class="backlink-title">
              {{ doc.title | render_title_tags }}
              {{ doc.title | clean_title_tags }}
            </a>
            <span class="backlink-type">{{ link_type }}</span>
          </div>
          {% if doc.taxonomy %}
          <div class="backlink-meta">
            {% assign cat = site.data.taxonomy.categories | where: "id", doc.taxonomy.category | first %}
            <span class="backlink-category">{{ cat.icon }} {{ cat.name_ko }}</span>
            {% if doc.date %}
            <span class="backlink-date">{{ doc.date | date: "%Y-%m-%d" }}</span>
            {% endif %}
          </div>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% unless has_backlinks %}
  <p class="no-backlinks">
    <em>No other documents reference this one yet.</em>
  </p>
  {% endunless %}
</div>
