---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      <div class="list-container">
        {% for post in paginator.posts %}
        <div class="list-item">
          <div class="item-meta">
            <span>{{ post.date | date: '%Y-%m-%d' }}</span>
          </div>
          <div class="item-content">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
              {% endif %}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">전체 글 보기 &rarr;</a>
        </div>
        
        <!-- Document end marker for home page -->
        <div class="document-end">
          하략
        </div>

      </div>
    </div>
  </div>
