---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container-fluid px-lg-5">
      <div class="row">
        <div class="col-lg-10 col-md-11">
          <div class="page-heading">
            <h1>
              {{ page.title | render_title_tags }}
              {{ page.title | clean_title_tags }}
            </h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-lg-5">
    <div class="row">
      <div class="col-lg-10 col-md-11">

        {% include translation-widget.html %}

        <article class="page-content">
          {{ content }}
        </article>

      </div>
      
      <!-- Posting Statistics Widget -->
      {% if page.posting_chart_collection or page.posting_chart_category or page.posting_chart_subcategory %}
      <div class="col-lg-2 d-none d-lg-block">
        <div class="mt-5" style="position: sticky; top: 100px;">
          {% include posting_stats_widget.html
            collection=page.posting_chart_collection
            category_id=page.posting_chart_category
            subcategory_id=page.posting_chart_subcategory %}
        </div>
      </div>
      {% endif %}

    </div>
  </div>
