---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container-fluid px-lg-5">
      <div class="row">
        <div class="col-lg-10 col-md-11">
          <div class="page-heading">
            <h1>
              {% if page.title contains "]" and page.title contains "[" %}
                {% assign title_parts = page.title | split: "]" %}
                {% assign tag_content = title_parts[0] | remove: "[" %}
                {% assign title_content = page.title | remove: title_parts[0] | remove: "]" | strip %}
                <span class="title-tag-badge">{{ tag_content }}</span>
                {{ title_content }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid px-lg-5">
    <div class="row">
      <div class="col-lg-10 col-md-11">

        {{ content }}

      </div>
    </div>
  </div>
