---
layout: default
---

<!-- Page Header -->
{% assign background_image = page.background %}
{% unless background_image %}
  {% case page.collection %}
    {% when 'codingtest' %}
      {% assign background_image = '/img/bg-codingtest.jpg' %}
    {% when 'embedded' %}
      {% assign background_image = '/img/bg-embedded.jpg' %}
    {% when 'network' %}
      {% assign background_image = '/img/bg-network.jpg' %}
    {% else %}
      {% assign background_image = '/img/bg-post.jpg' %}
  {% endcase %}
{% endunless %}

{% if background_image %}
<header class="masthead" style="background-image: url('{{ background_image | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <!-- Positional Authority: Metadata in top-right (traditional document position) -->
            <div class="meta" style="position: absolute; right: 0; top: 0; text-align: right; max-width: 250px; line-height: 1.8;">
              <div style="margin-bottom: 0.3rem;">{{ page.date | date: '%Y-%m-%d' }}</div>
              <div style="margin-bottom: 0.3rem;">작성: {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</div>
              <div>{% include read_time.html content=page.content %}</div>
              <div><span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv"></span> 조회</span></div>
            </div>
            
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading" style="padding-left: 2rem;">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

  </div>
</article>


        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; 이전<span class="d-none d-md-inline">
              글</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">다음<span class="d-none d-md-inline">
              글</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
      <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      <script src="https://utteranc.es/client.js"
        repo="gg582/gg582.github.io"
        issue-term="title"
        label="UtterancesCommentIssue"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
      </script>
